<!doctype html>
<html lang="en" ng-app="huni">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Humanities Network Infrastructure (HuNI)</title>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <script src="lib.js"></script>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" style="padding: 10px;" ng-controller="LoginStatusController" ng-init="login()">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
     
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
     
            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="http://huni.net.au"><img src="img/huni-logo-medium.png" alt="Humanities Networked Infrastructure" /></a>
            <ul class="nav">
                <li><a href="#/search">Search the Datasets</a></li>
                <!--<li><a href="#/browse">Browse the Datasets</a></li>-->
                <li><a href="#/publications">Publications</a></li>
                <li ng-show="logged_in"><a href="#/myhuni">My HuNI</a></li>
                <li><a href="#/help">Help</a></li>
                <li><a href="#/about">About</a></li>
                <li><span class="label label-important" style="margin-top: 19px; padding: 8px;">alpha</span></li>
            </ul>
         
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <!-- .nav, .navbar-search, .navbar-form, etc -->
                <ul class="nav pull-right" ng-hide="vlab_down">
                    <li ng-hide="logged_in"><a href="#/login">Login</a></li>
                    <li ng-show="logged_in" ng-click="logout()">
                        <button class="btn btn-small">{{username}} (logout)</button>
                    </li>
                </ul>
                <ul class="nav pull-right" ng-show="vlab_down">
                    <li>MyHuNI Unavailable</li>
                </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div ng-view></div>
        </div>
    </div>

</body>
</html>
