/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navbar .nav>li>a {
  margin-top: 15px;
}
.navbar .nav>li>button {
  margin-top: 20px;
}


.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}

.strike_through {
    text-decoration: line-through;
    opacity: 0.4;
}
