<div class="span12" ng-controller="AuthorPublicationController" ng-init="init()">
    <p class="lead">Articles by: {{author}}</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Title</td>
                <td>Synopsis</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="publication in data">
                <td class="span4"><a href="/#/publication/{{publication.uuid}}" target="_blank">{{publication.title}}</a></td>
                <td><span class="" ng-bind-html-unsafe=publication.synopsis></span></td>
            </tr>
        </tbody>
    </table>
</div>

