<h4>Help</h4>

<p>Use the search box to find data of interest to you. If you're not sure, just press <strong>Search</strong> and
do a wilcard search across the whole collection of related partner datasets.</p>

<h5>Multiple term search</h5>

<p>If you know what you're looking for, enter the appropriate search terms and start exploring. Just remember,
your terms will be 'AND'ed together. For example, say you're interested in "Articles about Gallipoli" - enter
"Gallipoli Article" and press "Search" (try it!).
</p>

<h5>Adding filters: by type or data provider</h5>
These will get 'AND'ed to your search term. For example, using the search "Gallipoli" you might then want
to filter only those results of "Type Artefact". Clicking that option will result in a search for
"Gallipoli" in any of the texts that are of "Type Artefact".

<h5>Wildcards</h5>
Sometimes you're kind of sure what you're after - but not really... That's ok, do a wildcard search. Try
adding a '*' to the start or end of a search term and see how you go.
