<div class="row-fluid">

    <div class="offset1 span3 pull-left" ng-controller="LoginController" ng-init="init()">
        <!-- login controls -->
        <div class="text-center">
            <h4>Sign in to HuNI</h4>
        </div>
        <div ng-show="providers_visible">
            <form action='/vlab/login/google' method='POST'>
                <button class="pull-left btn btn-block" type="submit" ng-click="login()">
                    <img src="img/google.png" style="height: 20px;"></img>
                    Google
                </button>
            </form>
            <br/>
        </div>
        <div ng-show="providers_visible">
            <form action='' method='POST'>
                <button class="pull-left btn btn-block disabled" type="submit">
                    <img src="img/facebook.png" style="height: 20px;"></img>
                    Facebook 
                </button>
            </form>
            <br/>
        </div>
        <div ng-show="providers_visible">
            <form action='/vlab/login/linkedin' method='POST'>
                <button class="pull-left btn btn-block" type="submit" ng-click="login()">
                    <img src="img/linkedin.png" style="height: 20px;"></img>
                    LinkedIn
                </button>
            </form>
            <br/>
        </div>
        <div ng-show="providers_visible">
            <form action='' method='POST'>
                <button class="pull-left btn btn-block disabled" type="submit">
                    <img src="img/twitter.png" style="height: 20px;"></img>
                    Twitter
                </button>
            </form>
            <br/>
        </div>
        <div ng-show="providers_visible">
            <form action='' method='POST'>
                <button class="pull-left btn btn-block disabled" type="submit">
                    <img src="img/github.png" style="height: 20px;"></img>
                    GitHub
                </button>
            </form>
            <br/>
        </div>
        <div ng-show="providers_visible">
            <form action='' method='POST'>
                <button class="pull-left btn btn-block disabled" type="submit">
                    <img src="img/windows.jpg" style="height: 20px;"></img>
                    Windows Live
                </button>
            </form>
        </div>
        <div>
            <br/>
            <br/>
            <div id="spinner"></div>
        </div>
    </div>
    <div class="span7 pull-left">
        <!-- help / ToS -->
        <h4>Terms of Use</h4>

        <p>This service is currently in active development. Features are not guaranteed to be reliable
        nor is any guarantee made that the interface has reached a stable state.</p>

        <p>By using this service you consent to HuNI using your email address as the identifier
        for your account.</p>
    </div>
</div>

