<div class="span12" style="height: {{ window.innerHeight - 100; }} overflow:auto;">

    <div class="text-center alert alert-error" ng-if="error_msg">{{error_msg}}</div>
    <div class="text-center alert alert-success" ng-if="success_msg">{{success_msg}}</div>

    <table class="table table-bordered" ng-show="links">
        <thead>
            <tr>
                <td><div class="text-center">Source Entity</div></td>
                <td></td>
                <td></td>
                <td></td>
                <td><div class="text-center">Target Entity</div></td>
            </tr>
        </thead>
        <tbody class="">
            <tr ng-repeat="link in links">
                <td>{{link.src_entity}}</td>
                <td><div class="text-center"><i class="icon-arrow-right"></i></div></td>
                <td>{{link.assertion}}</td>
                <td><div class="text-center"><i class="icon-arrow-right"></i></div></td>
                <td>{{link.tgt_entity}}</td>
            </tr>
        </tbody>
    </table>
    <span ng-hide="links">You haven't defined any connections.</span>
</div>