<div class="span3 pull-left" style="height: {{ window.innerHeight - 100 }}; overflow:auto;">
    <ul class="unstyled">
        <span ng-repeat="collection in collections" >
            <li>
                <a class="pull-left" href="" ng-click="read(collection.uuid)">{{collection.name}}</a>
                <button class="close pull-right" ng-click="delete(collection.uuid)">&times;</button>
            </li>
            <br/>
        </span>
        <span ng-hide="collections">You haven't created any collections.</span>
    </ul>
</div>
<div class="span9" ng-show="detail_view">

    <div class="text-center alert alert-error" ng-if="error_msg">{{error_msg}}</div>
    <div class="text-center alert alert-success" ng-if="success_msg">{{success_msg}}</div>

    <h3>{{data.name}} ({{data.members.length}} records)</h3>

    <tabset>
        <tab heading="Detail">
            <!--<dl class="dl-horizontal" style="border-left-style: solid; border-width: 1px;">-->
            <dl class="dl-horizontal">

                <dt style="width: 80px;">Title</dt>
                <dd style="margin-left: 90px;">
                    <input type="text" class="input-block-level" ng-model="data.title" required/>
                    <span class="help-block">A title for this collection. This will be used in the display of the published instance of this collection.</span>
                </dd>

                <dt style="width: 80px;">Synopsis</dt>
                <dd style="margin-left: 90px;">
                    <textarea class="input-block-level" rows="5" ng-model="data.synopsis" 
                        maxlength="1000" required></textarea>
                    <span class="help-block">
                        <span class="pull-left">
                            A brief description about this collection; limited to 1000 characters. You can use
                            <strong><a href="/#/syntax" target="_blank">Markdown Syntax</a></strong> in this field.
                        </span>
                        <span class="pull-right">
                            {{1000 - data.synopsis.length}} out of 1000 remaining.
                        </span>
                    </span> 
                </dd>

                <dt style="width: 80px;">Notes:</dt>
                <dd style="margin-left: 90px;">
                    <textarea class="input-block-level" rows="10" ng-model="data.notes"></textarea>
                    <span class="help-block pull-left">
                        Longer description, notes, records - main body text of this collection. You can use 
                        <strong><a href="/#/syntax" target="_blank">Markdown Syntax</a></strong> in this field.
                    </span>
                </dd>
                <dt></dt>
                <dd class="pull-right">
                    <button class="btn btn-success"  ng-click="update(data.uuid)">Update Collection</button>
                    <!--<a class="btn btn-info" href="http://{{data.host}}/#/publication/{{data.uuid}}/preview" target="_blank">Preview Article</a> -->
                    <button class="btn btn-warning" ng-click="publish(data.uuid)">Publish Article</button>
                </dd>
                <br/>
                <dt></dt>
                <dd class="pull-right">
                    <span class="help-block">
                        <hr/>
                        Given that articles are published from collections, you will need to "Update Collection" before you "Publish Article". If you don't,
                        you'll get an empty article. This procedure allows you to manage and update your collection without affecting the article published
                        from it until you are confident the new version is ready.
                    </span>
                </dd>
            </dl>
        </tab>

        <tab heading="Records" select="getMemberData()">
            <!-- record view -->
            <ol>
                <span ng-repeat="record in records">
                    <li>
                        <span ng-repeat="(key, value) in record">
                            <strong ng-show="{{key == 'type'}}" class="">{{value}}</strong>
                        </span>
                        <button class="btn btn-danger btn-small pull-right" ng-click="deleteRecord(record.docid, data.uuid)">
                            Delete this record from the collection
                        </button>
                        <div class="row-fluid">
                            <dl class="dl-horizontal">
                                <span ng-repeat="(key, value) in record | orderBy:predicate">
                                    <dt>{{key}}</dt>
                                    <dd>{{value | date:'d MMMM yyyy'}}</dd>
                                </span>
                            </dl>
                            <hr/>
                        </div>
                    </li>
                </span>
            </ol>    
        </tab>
    </tabset>
</div>
