<div class="row-fluid">
    <tabset>
        <tab heading="My Collections">
            <span ng-include="'partials/myhuni_collection_pane.html'" ng-controller="MyHuniCollectionController" ng-init="init()"></span>
        </tab>
        <tab heading="My Publications">
            <span ng-include="'partials/myhuni_publication_pane.html'" ng-controller="MyHuniPublicationController" ng-init="init()"></span>
        </tab>
        <tab heading="My Saved Searches">
            <span ng-include="'partials/myhuni_search_pane.html'" ng-controller="MyHuniSearchController" ng-init="init()"></span>
        </tab>
        <tab heading="My Links">
            <span ng-include="'partials/myhuni_link_pane.html'" ng-controller="MyHuniLinkController" ng-init="init()"></span>
        </tab>
    </tabset>
</div>

