<div class="span3 pull-left" style="height: {{ window.innerHeight - 100 }}; overflow:auto;">
    <ul class="unstyled">
        <span ng-repeat="search in searches" >
            <li>
                <a class="pull-left" href="" ng-click="read(search.uuid)">{{search.name}}</a>
                <button class="close pull-right" ng-click="delete(search.uuid)">&times;</button>
            </li>
            <br/>
        </span>
        <span ng-hide="searches">You haven't saved any searches.</span>
    </ul>
</div>
<div class="span9" ng-show"detail_view">

    <div class="text-center alert alert-error" ng-if="error_msg">{{error_msg}}</div>
    <div class="text-center alert alert-success" ng-if="success_msg">{{success_msg}}</div>

    <h3>{{data.name}}</h3>

    <dl class="dl-horizontal" ng-show="data.name" style="border-left-style: solid; border-width: 1px;">
        <dt style="width: 80px;">Query:</dt>
        <dd style="margin-left: 90px;">{{data.query}}</dd>
        <br/>
        <dt style="width: 80px;">Notes:</dt>
        <dd style="margin-left: 90px;">
            <textarea class="input-block-level" rows="10" ng-model="data.notes" autofocus></textarea>
        </dd>
        <br/>
        <!-- <dt style="width: 80px;">Tags:</dt>
        <dd style="margin-left: 90px;">
            <input class="input-block-level" type="text" ng-model="data.tags" 
                placeholder="Separate tags with comma's">
        </dd> -->
        <dt></dt>
        <dd class="pull-right"><button class="btn btn-success" ng-click="update(data.uuid)">Update</button></dd>
    </dl>
    <alert class="alert alert-success" ng-show="status.display">{{status.msg}}</alert>
    
</div>