<div class="span12" style="height: {{ window.innerHeight - 100; }} overflow:auto;">

    <div class="text-center alert alert-error" ng-if="error_msg">{{error_msg}}</div>
    <div class="text-center alert alert-success" ng-if="success_msg">{{success_msg}}</div>

    <table class="table" ng-show="data">
        <thead>
            <tr>
                <td class="span3">Title</td>
                <td>Synopsis</td>
                <td class=""></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="publication in data">
                <td class="span3">
                    <a href="/#/publication/{{publication.uuid}}" target="_blank">{{publication.title}}</a>
                </td>
                <td class="">
                    <span class="" ng-bind-html-unsafe=publication.synopsis></span>
                    <a href="http://{{data.host}}/#/publication/{{publication.uuid}}" target="_blank">http://{{data.host}}/#/publication/{{publication.uuid}}</a>
                </td>
                <td class=""><button class="btn btn-danger" ng-click="delete(publication.uuid)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <span ng-hide="data">You don't have any publications.</span>
</div>