<div class="span12" ng-controller="NetworkController" ng-init="init()">
    <style>
        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }
        .link {
            stroke: #d61021;
            stroke-opacity: 1.0;
            stroke-width: 2.0;
        }
        .link_pub {
            stroke: #2d37be; 
            stroke-opacity: 1.0;
            stroke-width: 2.0;
        }
        text {
            font: 12px sans-serif;
            font-weight: bold;
            pointer-events: none;
        }
    </style>
    <!-- TITLE BAR -->
    <div class="row-fluid">
        <h3>{{record.type}}: <a href="{{record.source}}">{{record.name}}</a></h3>
        <p class="lead">{{record.site}}</p>
    </div>
    <div class="row-fluid">
        <div class="">
            <p class="help">The largest node in the graph is the focus entity. Links arising from assertions are coloured red whilst those from publications
            are coloured blue. Node details can be retrieved by selecting the node of interest.
            Further down the page is the full known network of the focus node in tabular form.</p>
            <dl class="dl-horizontal">
                <dt>Record Name:</dt>
                <dd><a href="{{node_data.network}}">{{node_data.name}}</a></dd>
                <dt>Record Type:</dt>
                <dd>{{node_data.type}}</dd>
                <dt>Originating Document:</dt>
                <dd><a href="{{node_data.source}}" target="_blank">{{node_data.site}}</a></dd>
            </dl>
        </div>
        <div id="graph" class=""></div>
    </div>
    <!-- PUBLICATIONS REFERENCING THIS ENTITY -->
    <div class="row-fluid">
        <h3>Publications referencing this record.</h3>
        <ol>
            <span ng-repeat="pub in publications">
                <li>
                    <a href="{{pub.url}}">{{pub.title}}</a>
                    <span ng-bind-html-unsafe="pub.synopsis"></span>
                </li>
                <h5>Related entities</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Entity Type</td>
                            <td>Entity Name</td>
                            <td>Originating Document</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="related in pub.related">
                            <td>{{related.type}}</td>
                            <td><a href="/#/network/{{related.id}}">{{related.name}}</a></td>
                            <td><a href="{{related.source}}" target="_blank">{{related.site}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </ol>
    </div>
    <hr/>
    <!-- CONNECTIONS FROM THIS ENTITY -->
    <div class="row-fluid">
        <h3>Entities linked from this record.</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Connection Type</td>
                    <td>Entity Type</td>
                    <td>Entity Name</td>
                    <td>Originating Document</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="src in src_links">
                    <td>{{src.assertion}}</td>
                    <td>{{src.data.type}}</td>
                    <td><a href="/#/network/{{src.data.id}}">{{src.data.name}}</a></td>
                    <td><a href="{{src.data.source}}" target="_blank">{{src.data.site}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr/>
    <!-- CONNECTIONS TO THIS ENTITY -->
    <div class="row-fluid">
        <h3>Entities linking to this record.</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Connection Type</td>
                    <td>Entity Type</td>
                    <td>Entity Name</td>
                    <td>Originating Document</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tgt in tgt_links">
                    <td>{{tgt.assertion}}</td>
                    <td>{{tgt.data.type}}</td>
                    <td><a href="/#/network/{{tgt.data.id}}">{{tgt.data.name}}</a></td>
                    <td><a href="{{tgt.data.source}}" target="_blank">{{tgt.data.site}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
