<div class="span12" ng-controller="PublicationController" ng-init="init()">

    <div class="row-fluid text-center">
        <h3>{{data.title}}</h3>
        <p>{{data.author}}<br/>
        <a class="small" href="/#/author/{{data.author}}" target="_blank">View more from this author</a></p>
    </div>

    <div class="row-fluid">
        <span class="lead span10 offset1" ng-bind-html-unsafe=data.synopsis></span>
    </div>

    <div class="row-fluid">
        <span ng-bind-html-unsafe=data.notes></span>
        <hr/>
    </div>

    <div class="row-fluid">
        <h5>Cite this article</h5>
        <p>{{data.author}}, '{{data.title}}', Humanities Networked Infrastructure (HuNI), {{data.url}}</p>
        <hr/>
        <h5>References</h5>
        <ol>
            <span ng-repeat="record in records">
                <li><a href="{{record.source}}" target="_blank">{{record.source}}</a></li>
                <ul><li><a href="/#/network/{{record.id}}">View the network for this entity</a></li></ul>
            </span>
        </ol>
        <hr/>
        <span class="text-center">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
            </a>
            This work is licensed under a 
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                Creative Commons Attribution-ShareAlike 3.0 Unported License
            </a>
        </span>
    </div>
</div>

