<div class="span12" style="height: {{ window.innerHeight - 100; }} overflow:auto;" 
    ng-controller="PublicationController" ng-init="getPublicationList()">

    <table class="table" ng-show="data">
        <thead>
            <tr>
                <td class="span2">Author</td>
                <td class="span4">Title</td>
                <td class="span6">Synopsis</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="publication in data">
                <td class="span2"><a href="/#/author/{{publication.author}}">{{publication.author}}</a></td>
                <td class="span4">
                    <a href="/#/publication/{{publication.uuid}}" target="_blank">{{publication.title}}</a>
                </td>
                <td class="span6">
                    <span class="" ng-bind-html-unsafe=publication.synopsis></span>
                </td>
            </tr>
        </tbody>
    </table>
    <span ng-hide="data">There are no publications.</span>
</div>