<div ng-controller="ResultsController" ng-init="init()">
    <!-- search controls -->
    <div class="span4 img-polaroid" ng-if="controls" style="height: {{results.view}}px; overflow: auto; padding: 15px;">
        <form class="form-search text-center" ng-submit="search()">
            Current Search:<br/>
            <input type="text" class="input-medium search-query" 
                value={{query.user_query}} ng-model="query.user_query" autofocus="autofocus"/><br/>
        </form>
        <hr/>
        <div class="offset1">
            <label class="checkbox ">
                Display provenance information
                <input type="checkbox" ng-click="toggleProvenance()" /> 
            </label>
        </div>
        <hr/>
        <div class="offset1">
            <label class="checkbox">
                <em>Filter records by type</em>
            </label>
            <div ng-repeat="type in types">
                <label class="checkbox" ng-class="{strike_through: type.count == 0}">
                    <input class="" type="checkbox" value="{{type.facet}}" ng-model="type_filter"
                        ng-click="typeFilter({field: 'type', data: type.facet, value: type_filter})"
                        ng-checked="{{type.selected}}"
                        ng-disabled="{{type.count == 0}}">
                    {{type.facet}}  ({{type.count}})
                </label>
            </div>
         </div>
        <hr/>
        <div class="offset1">
            <label class="checkbox ">
                <em>Filter records by data provider</em>
            </label>
            <div ng-repeat="provider in providers">
                <label class="checkbox" ng-class="{strike_through: provider.count == 0}">
                    <input class="" type="checkbox" value="{{provider.facet}}" ng-model="provider_filter"
                        ng-click="providerFilter({field: 'prov_site_long', data: provider.facet, value: provider_filter})"
                        ng-checked={{provider.selected}}
                        ng-disabled="{{provider.count == 0}}">
                    {{provider.facet}} ({{provider.count}})
                </label>
            </div>
        </div>
        <hr/>
    </div>

    <!-- my huni controls -->
    <div class="span4 pull-left img-polaroid" ng-hide="controls"
        style="height: {{results.view}}px; overflow: auto; padding: 15px; display: none;">

        <!-- collections management control -->
        <div class="well well-large">
            <strong>Add</strong><span class="help-block">{{documentsToSave.length}} record(s) to a collection</span>
            <span class="input-append">
                <input ng-class="input-small" type="text" ng-model="collection_name"
                    typeahead="collection for collection in autocompleteCollections($viewValue)">
                <button class="btn" ng-disabled="!collection_name" ng-click="saveToCollection()">Save</button>
            </span>
            <span class="help-block">
            New collections will be created; existing collections will be augmented.
            Duplicates in a collection will be automatically removed.
            </span>
            <div class="text-center alert alert-error" ng-show="collection_error_msg">{{collection_error_msg}}</div>
            <div class="text-center alert alert-success" ng-show="collection_success_msg">{{collection_success_msg}}</div>
        </div>

        <!-- saved search control -->
        <div class="well well-large">
            <strong>Save</strong><span class="help-block">this search</span>
            <span class="input-append">
                <input class="" type="text" ng-model="search_name"
                    typeahead="search for search in autocompleteSearch($viewValue)">
                <button class="btn" ng-disabled="!search_name" ng-click="saveSearch()">Save</button>
            </span>
            <!--<span class="help-block">Save this search.</span>-->
            <label class="checkbox form-inline">
                <input type="checkbox" ng-model="overwrite_search">Overwrite existing saved search.
            </label>
            <div class="text-center alert alert-error" ng-show="save_error_msg">{{save_error_msg}}</div>
            <div class="text-center alert alert-success" ng-show="save_success_msg">{{save_success_msg}}</div>
        </div>

        <!-- record linking control -->
        <div class="well well-large">
            <strong>Link </strong><span class="help-block">this record to another</span>
            <div class="text-center">
                <strong>Source Entity:&nbsp;</strong>{{src_type}} <!-- {{src_entity}} -->
                <br/>
                <i class="icon-arrow-down"></i>
                <br/>
                <span class="form-inline">
                    <input type="text" class="input-block-level text-center" ng-model="assertion" maxlength="50"/>
                </span>
                <br/>
                <i class="icon-arrow-down"></i>
                <br/>
                <strong>Target Entity:&nbsp;</strong>{{tgt_type}} <!-- {{tgt_entity}} -->
                <span class="help-block">
                    Assertion limited to 50 characters ({{50 - assertion.length}} remaining).<br/>
                    <a href="/#/links" target="_blank">Documentation and examples.</a>
                </span>
                <button class="btn btn-success" ng-disabled="!src_entity || !tgt_entity || !assertion" ng-click="createConnection()">Create the connection</button>
                <button class="btn btn-danger" ng-disabled="" ng-click="resetConnection()">Reset</button>
            </div>
            <br/>
            <br/>
            <div class="text-center alert alert-error" ng-show="link_error_msg">{{link_error_msg}}</div>
            <div class="text-center alert alert-success" ng-show="link_success_msg">{{link_success_msg}}</div>
        </div>
    </div>

    <!-- results -->
    <div class="span8 pull-right">
        <div class="row-fluid">
            <div class="pull-left">
                    <button type="button" class="btn btn-mini btn-success" 
                        ng-show="controls && logged_in" ng-click="controls = false">Show My Huni Controls</button>
                    <button type="button" class="btn btn-mini btn-primary"
                         ng-hide="controls" ng-click="controls = true">Show Search Controls</button>
            </div>
            <div class="pull-right">
                <p>
                    <button class="btn btn-mini" ng-click="previousPage()" ng-disabled="results.previous"><i class="icon-arrow-left"></i></button>
                    Results {{results.start | number}} - {{results.end | number}} of {{results.total}}.
                    <button class="btn btn-mini" ng-click="nextPage()" ng-disabled="results.next"><i class="icon-arrow-right"></i></button>
                </p>
            </div>
            <br/> <!-- DO NOT REMOVE -->
            <hr/>
        </div>
        <div class="row-fluid" style="height: {{results.view}}px; overflow: auto; padding-left: 5px; padding-right: 5px;">
            <!--<span id="top"></span>-->
            <ol start={{results.start}}>
                <span ng-repeat="result in results.docs">
                    <span ng-switch on="result.type">
                        <strong>Record Type: {{result.type}}</strong>

                        <!-- RECORD TYPE: ACT -->
                        <li ng-switch-when="Act">
                            <strong>Title</strong>
                            <span ng-show="{{result.name | isEmpty}}">&nbsp;{{result.name}}<br/></span>
                            <span ng-repeat="t in result.title" ng-show="t | isEmpty">&nbsp;{{t}}<br/></span>
                            <span ng-show="{{result.physdesc | isEmpty}}"><strong>Physical Description:</strong>&nbsp;{{result.physdesc}}</span>
                            <p ng-repeat="d in result.description" ng-show="d | isEmpty">{{d}}</p>
                        </li>

                        <!-- RECORD TYPE: ARTEFACT -->
                        <li ng-switch-when="Artefact">
                            <strong>Name:</strong>
                            <span ng-show="{{result.name | isEmpty}}">&nbsp;{{result.name}}<br/></span>
                            <span ng-repeat="t in result.title" ng-show="t | isEmpty">&nbsp;{{t}}<br/></span>
                            <span ng-show="{{result.physdesc | isEmpty}}"><strong>Physical Description:</strong>&nbsp;{{result.physdesc}}</span>
                            <p ng-repeat="d in result.description" ng-show="d | isEmpty">{{d}}</p>
                            <p ng-repeat="s in result.summary" ng-show="s | isEmpty" >{{s}}</p>
                            <ul>
                                <li ng-show="result.date_begin | isEmpty"><strong>From:</strong>&nbsp;{{result.date_begin | date:'d MMMM yyyy'}}</li>
                                <li ng-show="result.date_end | isEmpty"><strong>To:</strong>&nbsp;{{result.date_end | date:'d MMMM yyyy'}}</li>
                            </ul>
                        </li>

                        <!-- RECORD TYPE: BIBLIOGRAPHY -->
                        <li ng-switch-when="Bibliography">
                            <strong>Title:</strong>&nbsp;<span ng-repeat="t in result.title" ng-disable="t">{{t}}&nbsp;</span><br/>
                            <span ng-show="{{result.date_begin | isEmpty}}">
                                <strong>Publication Date:</strong>&nbsp;{{result.date_begin|date:'d MMMM yyyy'}}<br/>
                            </span>
                            <p ng-repeat="d in result.description" ng-show="d | isEmpty">{{d}}</p>
                        </li>

                        <!-- RECORD TYPE: COLLECTION -->
                        <li ng-switch-when="Collection">
                            <strong>Title</strong>
                            <span ng-repeat="t in result.title" ng-show="t | isEmpty">&nbsp;{{t}}<br/></span>
                            <span ng-show="{{result.physdesc | isEmpty}}"><strong>Physical Description:</strong>&nbsp;{{result.physdesc}}</span>
                            <p ng-repeat="d in result.description" ng-show="d | isEmpty">{{d}}</p>
                        </li>

                        <!-- RECORD TYPE: CONCEPT -->
                        <li ng-switch-when="Concept">
                            <strong>Name:</strong>&nbsp;{{result.name}}
                            <p ng-repeat="d in result.description">{{d}}</p>
                        </li>

                        <!-- RECORD TYPE: EVENT -->
                        <li ng-switch-when="Event">
                            <strong>Name:</strong>&nbsp;{{result.name}}
                            <p ng-repeat="d in result.description">{{d}}</p>
                            <ul>
                                <li ng-show="result.date_begin | isEmpty">
                                    <strong>From:</strong>&nbsp;{{result.date_begin | date:'d MMMM yyyy'}}
                                </li>
                                <li ng-show="result.date_end | isEmpty">
                                    <strong>To:</strong>&nbsp;{{result.date_end | date:'d MMMM yyyy'}}
                                </li>
                            </ul>
                        </li>

                        <!-- RECORD TYPE: FILM -->
                        <li ng-switch-when="Film">
                            <strong>Title:</strong>&nbsp;<span ng-repeat="t in result.title" ng-disable="t">{{t}}&nbsp;</span><br/>
                            <p ng-repeat="d in result.description">{{d}}</p>
                        </li>

                        <!-- RECORD TYPE: ORGANISATION -->
                        <li ng-switch-when="Organisation">
                            <strong>Name:</strong>&nbsp;{{result.name}}
                            <p ng-repeat="d in result.description">{{d}}</p>
                            <ul>
                                <li ng-show="result.date_begin | isEmpty">
                                    <strong>From:</strong>&nbsp;{{result.date_begin | date:'d MMMM yyyy'}}
                                </li>
                                <li ng-show="result.date_end | isEmpty">
                                    <strong>To:</strong>&nbsp;{{result.date_end | date:'d MMMM yyyy'}}
                                </li>
                            </ul>
                        </li>

                        <!-- RECORD TYPE: PERSON -->
                        <li ng-switch-when="Person">
                            <strong>Name:</strong>&nbsp;{{result.given_name}}&nbsp;{{result.family_name}}
                            <ul>
                                <li ng-show="result.date_begin | isEmpty">
                                    <strong>Birth</strong>&nbsp;{{result.date_begin | date:'d MMMM yyyy'}}
                                </li>
                                <li ng-show="result.date_end | isEmpty">
                                    <strong>Death:</strong>&nbsp;{{result.date_end | date:'d MMMM yyyy'}}
                                </li>
                            </ul>
                            <p ng-show="{{result.bio | isEmpty}}">{{result.bio}}</p>
                        </li>

                        <!-- RECORD TYPE: PLACE -->
                        <li ng-switch-when="Place">
                            <strong>Name:</strong>&nbsp;{{result.name}}
                            <ul>
                                <li ng-show="result.date_begin | isEmpty">
                                    <strong>From:</strong>&nbsp;{{result.date_begin | date:'d MMMM yyyy'}}
                                </li>
                                <li ng-show="result.date_end | isEmpty">
                                    <strong>To:</strong>&nbsp;{{result.date_end | date:'d MMMM yyyy'}}
                                </li>
                            </ul>
                            <br/>
                            <p ng-repeat="d in result.description" ng-show="d | isEmpty">{{d}}</p></p>
                        </li>

                        <!-- RECORD TYPE: PRODUCTION -->
                        <li ng-switch-when="Production">
                            <strong>Release Title:</strong>&nbsp;<span ng-repeat="t in result.title">{{t}}&nbsp;</span><br/>
                            <span ng-show="{{result.date_begin | isEmpty}}">
                                <strong>Production Year:</strong>&nbsp;{{result.date_begin | date:'yyyy' }}<br/>
                            </span>
                            <p ng-show="{{result.synopsis | isEmpty}}">{{result.synopsis}}</p>
                            
                        </li>

                        <!-- RECORD TYPE: VIDEO -->
                        <li ng-switch-when="Videos">
                            <strong>Title</strong>
                            <span ng-show="{{result.name | isEmpty}}">&nbsp;{{result.name}}<br/></span>
                            <span ng-repeat="t in result.title" ng-show="t | isEmpty">&nbsp;{{t}}<br/></span>
                            <span ng-show="{{result.city | isEmpty}}">&nbsp;{{result.city}}<br/></span>
                        </li>

                        <!-- RECORD TYPE: VENUE -->
                        <li ng-switch-when="Venue">
                            <strong>Name:</strong>&nbsp;{{result.name}}
                            <p>
                                <strong>Address:</strong>
                                <span ng-show="{{result.address | isEmpty}}">{{result.address}},&nbsp;</span>
                                <span ng-show="{{result.suburb | isEmpty}}">{{result.suburb}}</span><br/>
                                <a ng-href="http://maps.google.com/?q={{result.latitude}},{{result.longitude}}" target="_blank">View on Google Maps</a>
                            </p>
                        </li>
                        <!--<li ng-switch-default>
                        </li>-->

                        <!-- SAVE TO COLLECTION -->
                        <label class="checkbox inline" ng-if="logged_in">
                            <input id="{{result.docid}}_collection" type="checkbox" 
                                ng-click="addToCollection(result.docid, result.type)">Save this record to my collection
                        </label>

                        <!-- ADD A CONNECTION -->
                        <label class="checkbox inline" ng-if="logged_in">
                            <input id="{{result.docid}}_connection" type="checkbox" ng-show="connection_button_label" 
                                ng-click="addConnection(result.docid, result.type)">{{connection_button_label}}
                        </label>

                        <!-- VIEW CONNECTIONS -->
                        <span class="pull-right form-inline">
                            <a href="/#/network/{{result.docid}}" target="_blank">
                                <span href="" ng-if="result.src_link_count">
                                    {{result.src_link_count}}
                                    <i class="icon-arrow-right"></i>
                                </span>
                                <span href="" ng-if="result.tgt_link_count">
                                    {{result.tgt_link_count}}
                                    <i class="icon-arrow-left"></i>
                                </span>
                                <span href="" ng-if="result.pub_count">
                                    {{result.pub_count}} 
                                    <i class="icon-book"></i>
                                </span>
                            </a>
                        </span>
                        <br/>
                        <!-- <button class="btn btn-warning btn-small pull-right">View Record Connections</button> -->

                        <!-- RECORD PROVENANCE -->
                        <div ng-show="show_provenance">
                            <br/>
                            <div class="">
                                <ul>
                                    <li><strong>Record Original:</strong>&nbsp;<a ng-href="{{result.prov_source}}" target="_blank">{{result.prov_source}}</a></li>
                                    <li><strong>Site:</strong>&nbsp;<a ng-href="{{result.prov_site_address}}" target="_blank">{{result.prov_site_long}}</a></li>
                                    <li><strong>Site Description:</strong>&nbsp;{{result.prov_site_tag}}</li>
                                    <li><strong>Last harvest:</strong>&nbsp;{{result.prov_doc_last_update | date:'d MMMM yyyy'}}</li>
                                </ul>
                            </div>
                        </div>
                        <hr/>
                    </span>
                </span>
            </ol>
            <span id="bottom"></span>
        </div>
    </div>  
</div>
