<div class="span12">
    This is a brief overview of some of the formatting available with the Markdown language. For more information and 
    more examples see: <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub Flavoured Markdown.</a>
    <div class="row-fluid">
        <div class="span6">
            <h4>Headings</h4>
            To style a heading add a preceeding <strong># (hash)</strong>. 1 - 6 of these equate to headings h1 through h6.
            <br/>
            <br/>
            For example:<br/>
            # My first heading
            <br/>
            <br/>
            #### My other heading
        </div>
        <div class="span6">
            <h1>My first heading</h1>
            <h4>My other heading</h4>
        </div>
    </div>
    <hr/>
    <div class="row-fluid">
        <div class="span6">
            <h4>Paragraphs</h4>
            Paragraphs are simply one of more lines of text separated by one or more blank lines.
            <br/>
            <br/>
            For example:
            <br/>
            <br/>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim urna, laoreet sed velit tristique, 
            porta rhoncus sem. Integer fermentum ut velit vitae consectetur. Nam semper felis id rutrum consequat. 
            Praesent sed convallis libero. Quisque sed cursus nisi.
            <br/>
            <br/>
            Maecenas sed condimentum eros. Donec a laoreet sapien. Aenean facilisis posuere turpis. Vivamus 
            porttitor sem ac felis accumsan tristique. Etiam magna ligula,
        </div>
        <div class="span6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim urna, laoreet sed velit tristique,
            porta rhoncus sem. Integer fermentum ut velit vitae consectetur. Nam semper felis id rutrum consequat.
            Praesent sed convallis libero. Quisque sed cursus nisi.</p>
            <p>Maecenas sed condimentum eros. Donec a laoreet sapien. Aenean facilisis posuere turpis. Vivamus
            porttitor sem ac felis accumsan tristique. Etiam magna ligula,</p>
        </div>
    </div>
    <hr/>
    <div class="row-fluid">
        <div class="span6">
            <h4>Emphasis</h4>
            To <em>italicize text, surround</em> it with a single asterisk.<br/>
            To make text <strong>bold</strong>, surround it with two asterisks.
            <br/>
            <br/>
            For example:<br/>
            *this will become italicized*
            <br/>
            **this will be bold**
        </div>
        <div class="span6">
            <em>this will become italicized</em>
            <br/>
            <strong>this will be bold</strong>
        </div>
    </div>
    <hr/>
    <div class="row-fluid">
        <div class="span6">
            <h4>Bullet lists, Ordered lists</h4>
            Bullet lists are created by starting lines with a "space followed by an asterisk"<br/>
            Ordered (or numbered) lists are similarly written but using numbers instead of asterisks<br/>
            <br/>
             * bullet point 1<br/>
             * bullet point 2<br/>
            <br/>
             1. list item 1<br/>
             2. list item 2<br/>
        </div>
        <div class="span6">
            <ul>
                <li>bullet point 1</li>
                <li>bullet point 2</li>
            </ul>
            <ol>
                <li>list item 1</li>
                <li>list item 2</li>
            </ol>
        </div>
    </div>
</div>
